<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<h2>Here are some links to help you start: </h2>
<!-- <form appRowOption>
<div *ngFor="let iterator of iterations;let i = index;" >
  <ng-container *ngIf="!iterator.isDeleted">
  <label>Preferred Country {{i + 1}}</label>&nbsp;&nbsp;&nbsp;
  <select name="country"  [(ngModel)]="values[i]" unselectedOptions>
    <option disabled>Select Country</option>
    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
  </select>
  <span style="font-size: 20px;margin: 10px 20px;" (click)="deleteSelect(i)">X</span> {{iterator | json}}
  {{values[i]}}
</ng-container>
</div>
{{values | json}}
<button (click)='addCountry(i)'>Add</button>
</form> -->

<div appRowOption>
  <div *ngFor="let iterator of iterations;let i = index;">
    <ng-container *ngIf="!iterator.isDeleted">
    <label>Preferred Country {{i + 1}}</label>&nbsp;&nbsp;&nbsp;

    <select unselectedOptions [(ngModel)]="selectedUsers[i]" name="country">
      <!-- <option value="" disabled selected>By User</option> -->
      <!-- <option *ngFor="let user of allUsers" value="{{user.id}}"
    >{{user.first_name}} - {{user.email}}</option> -->
      <option disabled value="undefined">Select Country</option>
      <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      >
    </select>
    <span style="font-size: 20px;margin: 10px 20px;" (click)="deleteSelect(i)">X</span>
  </ng-container>
  </div>
</div>
<button (click)='addCountry(i)'>Add</button>